<a href="https://colab.research.google.com/github/serinss/seSAC_Python_Class/blob/main/%ED%86%B5%EA%B3%84%EB%B6%84%EC%84%9D%EC%8B%9C%EA%B0%81%ED%99%94_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#구조적 데이터 표시와 처리에 강한 pandas

In [1]:
import pandas as pd

In [2]:
s = pd.Series([1,2,3,4,5])
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [3]:
print(s.index)

RangeIndex(start=0, stop=5, step=1)

In [4]:
print(s.values)

[1 2 3 4 5]

In [5]:
s = pd.Series(["홍길동","강감찬","을지문덕"])
print(s)

0     홍길동
1     강감찬
2    을지문덕
dtype: object

In [9]:
subjects=["국어","영어","수학"]
s = pd.Series([90,85,39],index=subjects)
print(s)

국어    90
영어    85
수학    39
dtype: int64

#결측치를 무엇으로 표현할 것인가?
numpy의 np.nan  
None  
0  
기타 값

In [14]:
import numpy as np #판다스를 사용하면서 넘파이와 함께 사용하는 경우 많음

# 국어, 영어, 수학 점수 중에서 현재 국어점수가 없을 경우 -> 다양하게 표현 가능
s1 = pd.Series([np.nan,10,30]) #제일 많이 사용
s2 = pd.Series([None,10,30])
s3 = pd.Series([0,10,30])
s4 = pd.Series([-1,10,30])
print(s1)
print(s2)
print(s3)
print(s4)

0     NaN
1    10.0
2    30.0
dtype: float64
0     NaN
1    10.0
2    30.0
dtype: float64
0     0
1    10
2    30
dtype: int64
0    -1
1    10
2    30
dtype: int64

In [26]:
# 존재하지 않는 것에 대한 비교 (np.nan 과 None은 서로 비교할 수도 없다) - 철학적인 이야기
# 없다는 상태를 같게 볼 것인가, 다르게 볼 것인가

print(np.nan == np.nan) # F 값이 다르다 / == 는 데이터 비교
print(None == None) # T 값 같다
print(np.nan is np.nan) # T 객체는 동일하다 / is는 객체 자체를 비교
print(None is None) # T 객체 같다

print("==========")
a = [1,2,3]
b = [1,2,3]
c = a
print(a==b) #값을 비교
print(a is b) #참조를 비교 (객체 비교)
print(a==c)
print(a is c)

False
True
True
True
==========
True
False
True
True

#날짜 시퀀스

In [18]:
pd.date_range(start='2019-01-01',end='2022-02-28')

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10',
               ...
               '2022-02-19', '2022-02-20', '2022-02-21', '2022-02-22',
               '2022-02-23', '2022-02-24', '2022-02-25', '2022-02-26',
               '2022-02-27', '2022-02-28'],
              dtype='datetime64[ns]', length=1155, freq='D')

In [19]:
pd.date_range(start='2019/01/01',end='2022/02/28') #날짜를 입력하는 형태는 다양하게 입력할 수 있다

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05', '2019-01-06', '2019-01-07', '2019-01-08',
               '2019-01-09', '2019-01-10',
               ...
               '2022-02-19', '2022-02-20', '2022-02-21', '2022-02-22',
               '2022-02-23', '2022-02-24', '2022-02-25', '2022-02-26',
               '2022-02-27', '2022-02-28'],
              dtype='datetime64[ns]', length=1155, freq='D')

In [20]:
pd.date_range(start='2019/01/01',end='2022/02/28',freq='2D') #주기 : 2일로 설정

DatetimeIndex(['2019-01-01', '2019-01-03', '2019-01-05', '2019-01-07',
               '2019-01-09', '2019-01-11', '2019-01-13', '2019-01-15',
               '2019-01-17', '2019-01-19',
               ...
               '2022-02-10', '2022-02-12', '2022-02-14', '2022-02-16',
               '2022-02-18', '2022-02-20', '2022-02-22', '2022-02-24',
               '2022-02-26', '2022-02-28'],
              dtype='datetime64[ns]', length=578, freq='2D')

In [22]:
pd.date_range(start='2019/01/01',end='2022/02/28',freq='2B') #주기 : 영업일 기준 2일로 설정

DatetimeIndex(['2019-01-01', '2019-01-03', '2019-01-07', '2019-01-09',
               '2019-01-11', '2019-01-15', '2019-01-17', '2019-01-21',
               '2019-01-23', '2019-01-25',
               ...
               '2022-02-02', '2022-02-04', '2022-02-08', '2022-02-10',
               '2022-02-14', '2022-02-16', '2022-02-18', '2022-02-22',
               '2022-02-24', '2022-02-28'],
              dtype='datetime64[ns]', length=413, freq='2B')

In [23]:
pd.date_range(start='2019/01/01',end='2022/02/28',freq='2W') #주기 : 2주일로 설정

DatetimeIndex(['2019-01-06', '2019-01-20', '2019-02-03', '2019-02-17',
               '2019-03-03', '2019-03-17', '2019-03-31', '2019-04-14',
               '2019-04-28', '2019-05-12', '2019-05-26', '2019-06-09',
               '2019-06-23', '2019-07-07', '2019-07-21', '2019-08-04',
               '2019-08-18', '2019-09-01', '2019-09-15', '2019-09-29',
               '2019-10-13', '2019-10-27', '2019-11-10', '2019-11-24',
               '2019-12-08', '2019-12-22', '2020-01-05', '2020-01-19',
               '2020-02-02', '2020-02-16', '2020-03-01', '2020-03-15',
               '2020-03-29', '2020-04-12', '2020-04-26', '2020-05-10',
               '2020-05-24', '2020-06-07', '2020-06-21', '2020-07-05',
               '2020-07-19', '2020-08-02', '2020-08-16', '2020-08-30',
               '2020-09-13', '2020-09-27', '2020-10-11', '2020-10-25',
               '2020-11-08', '2020-11-22', '2020-12-06', '2020-12-20',
               '2021-01-03', '2021-01-17', '2021-01-31', '2021-02-14',
               '2021-02-28', '2021-03-14', '2021-03-28', '2021-04-11',
               '2021-04-25', '2021-05-09', '2021-05-23', '2021-06-06',
               '2021-06-20', '2021-07-04', '2021-07-18', '2021-08-01',
               '2021-08-15', '2021-08-29', '2021-09-12', '2021-09-26',
               '2021-10-10', '2021-10-24', '2021-11-07', '2021-11-21',
               '2021-12-05', '2021-12-19', '2022-01-02', '2022-01-16',
               '2022-01-30', '2022-02-13', '2022-02-27'],
              dtype='datetime64[ns]', freq='2W-SUN')

#DataFrame을 활용한 데이터 생성