<a href="https://colab.research.google.com/github/serinss/seSAC_Python_Class/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88(%EB%B0%98%EB%B3%B5%EB%AC%B8~.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#튜플

여러 개의 원소로 구성한 자료 구조(컬렉션) -> 서로 다른 타입들 모일 수 있음  
원소의 값을 변경할 수 없다.

In [ ]:
tup1 = (1,)
tup2 = (1, 'a')
tup3 = (1, 'abc', (2,3,'ab'))
print(tup1)
print(tup2)
print(tup3)

(1,)
(1, 'a')
(1, 'abc', (2, 3, 'ab'))

In [ ]:
tup1 = (1,2,3)
print(tup1[0]) #인덱스 접근 가능
print(tup1[1])
print(tup1[2])

1
2
3

In [ ]:
#tup1[0] = 7 튜플은 원소의 값을 변경할 수 없다.
#나머지 부분은 리스트와 사용법 동일

#리스트

여러 개의 원소,요소(element)로 구성한 자료 구조(컬렉션) -> 변수의 타입이 통일되지 않아도 된다  
튜플과 다르게 원소의 값을 변경할 수 있다.

In [ ]:
ls1 = [1,2,3,4]
print(ls1)

[1, 2, 3, 4]

In [ ]:
ls2 = [1,2,3,'a',[1,2,3],(1,2,'a')]
print(ls2)

[1, 2, 3, 'a', [1, 2, 3], (1, 2, 'a')]

In [ ]:
ls1 = [1,2,3,4,5,'a','b']
print(ls1[0])
print(ls1[1])
print(ls1[2])
print(ls1[3])
print(ls1[4])
print(ls1[5])
print(ls1[6])
# print(ls1[7]) list index out of range 경계의 오류

1
2
3
4
5
a
b

In [ ]:
s = "abcdefg"
print(s[1:3])

bc

In [ ]:
s1 = [1,2,3,'a','b']
print(ls1[1:3]) #list도 slice 가능
print(ls1[:3]) #처음부터 3번째 원소까지
print(ls1[1:]) #1번째 원소부터 마지막까지

[2, 3]
[1, 2, 3]
[2, 3, 4, 5, 'a', 'b']

In [ ]:
tup1 = (1,2,3)
ls1 = [1,2,3]

#tup1[0]=3 #'tuple' object does not support item assignment
ls1[0]=3 # list는 원소의 값을 변경할 수 있음 -> 튜플은 잘 사용되지 않음
print(ls1)

[3, 2, 3]

In [ ]:
ls1 = [1,2,3,4,5,6]
print(ls1[-1]) #마지막 원소
print(ls1[-2])
print(ls1[-3])
print(ls1[-4])
print(ls1[-5])
print(ls1[-6])

6
5
4
3
2
1

In [ ]:
ls1 = [[90,80,45],[88,95,64],[99,64,89]] #텐서? 머신러닝, 딥러닝에서는 텐서를 가장 많이 사용한다
#TensorFlow, n차원 배열로 이해할 수 있다.
print(ls1[0])
print(ls1[0][2])

[90, 80, 45]
45

In [ ]:
ls1 = [1,2,3]
ls2 = ['a','b','c']
print(ls1+ls2) #다른 타입이어도 리스트 더하기 연산 가능
print(ls1) #원본 리스트는 변경되지 않는다.
print(ls2)
ls3 = ls1 + ls2 #별도의 변수를 선언하여 사용
print(ls3)

[1, 2, 3, 'a', 'b', 'c']
[1, 2, 3]
['a', 'b', 'c']
[1, 2, 3, 'a', 'b', 'c']

In [ ]:
ls1 = [1,2,3]
ls2 = ['a','b','c']
print(ls1*3) #곱하기 연산
s1 = "홍길동"
print(s1*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
홍길동홍길동홍길동

In [ ]:
print(len('abcdefghijklmnopqrstuvwxyz'))
print(len([1,2,3,4,5,6,7,8,9,10,'a','b']))

26
12

In [ ]:
ls1 = list() #빈 리스트 생성
print(ls1)
print(type(ls1))

[]
<class 'list'>

In [ ]:
ls1.append(3) #순차 보관(위치, 인덱스 지정 불가)
ls1.append(7)
ls1.append(2)
ls1.append(8)
ls1.append(9)
ls1.append(10)
print(ls1)

[3, 7, 2, 8, 9, 310, 3, 7, 2, 8, 9, 10]

In [ ]:
ls = [1,2,3,4,5,6,7]
num = 3
ls.insert(2,num) #index(2) 위치에 삽입
print(ls)

[1, 2, 3, 3, 4, 5, 6, 7]

리스트 병합

In [ ]:
ls1 = [1,2,3]
ls2 = ['a','b','c']
ls1.extend(ls2) #ls1을 ls2만큼 확장
print(ls1) #변경됨
print(ls2) #그대로

[1, 2, 3, 'a', 'b', 'c']
['a', 'b', 'c']

리스트 요소 제거하기  
append로 추가하고 pop으로 꺼내면 stack처럼 동작한다.  
LIFO(Last In First Out)

In [ ]:
ls1 = [1,2,3,4,5,6,7,8]
print(ls1)
re = ls1.pop() #'지워진다' 보다는 '꺼낸다'는 표현 많이 사용
print(re)
print(ls1)
re = ls1.pop(3) #인덱스 지정 가능
print(re)
print(ls1)

[1, 2, 3, 4, 5, 6, 7, 8]
8
[1, 2, 3, 4, 5, 6, 7]
4
[1, 2, 3, 5, 6, 7]

In [ ]:
ls1 = [1,2,3,4,5,6,7,8]
print(ls1)
del ls1[2] #'지운다'는 개념
print(ls1)
del ls1[2]
print(ls1)
del ls1[2:]
print(ls1) #대괄호를 사용하므로 범위 지정 가능

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 4, 5, 6, 7, 8]
[1, 2, 5, 6, 7, 8]
[1, 2]

In [ ]:
member_list = ['홍길동','강감찬','을지문덕','고길동','김구']

print(member_list)
name = input("지울 회원 : ")
member_list.remove(name) #인덱스가 아닌 값으로 지우기
print(member_list)

['홍길동', '강감찬', '을지문덕', '고길동', '김구']
지울 회원 : 고길동
['홍길동', '강감찬', '을지문덕', '김구']

In [ ]:
member_list = ['홍길동','강감찬','을지문덕','고길동','김구']

print(member_list)
member_list.clear() #완전 삭제
print(member_list)

['홍길동', '강감찬', '을지문덕', '고길동', '김구']
[]

In [ ]:
s = "나는 집에 간다. 그리고 나는 잠을 잔다."
print("간다" in s) #문자열 내부에 있는지 확인하기

True

In [ ]:
member_list = ['홍길동','강감찬','을지문덕','고길동','김구']
name = input("검색할 회원 : ")
if name in member_list:
  print("존재합니다.")
else:
  print("아직 회원이 아닙니다.")

검색할 회원 : 홍길동
존재합니다.

#반복문(for문)
list, dictionary 자료구조와 연계되어 90% 이상이 for문을 사용한다.

In [ ]:
for i in range(10):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [ ]:
ls = [3,4,8,9]
for i in ls:
  print(i, end=' ')

3 4 8 9

#연습문제   
10명의 회원 이름을 받아 출력하시오.

In [ ]:
member_names=[]
for i in range(10):
  name = input(f"{i+1}번째 이름 : ")
  member_names.append(name)
print(member_names)

1번째 이름 : 1
2번째 이름 : 2
3번째 이름 : 3
4번째 이름 : 4
5번째 이름 : 5
6번째 이름 : 6
7번째 이름 : 7
8번째 이름 : 8
9번째 이름 : 9
10번째 이름 : 10
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

국어, 영어, 수학 점수를 입력 받아 평균을 구하여 출력하시오.  
단, 점수는 리스트에 보관

In [ ]:
score_list = [] #점수를 기억할 컬렉션 생성
subjects=("국어","영어","수학")
sum = 0
for i in range(len(subjects)): #반복(3과목)
  score = int(input(f"{subjects[i]} 점수 입력:")) #점수 입력
  score_list.append(score) #컬렉션에 보관
  sum += score_list[i]
avg = sum/3 #평균 출력
print("==> 평균:",avg)

국어 점수 입력:98
영어 점수 입력:80
수학 점수 입력:95
==> 평균: 91.0

#딕셔너리  
키와 값을 쌍으로 갖는 요소를 보관하는 자료구조(컬렉션

In [ ]:
member_states = {"홍길동":23,
                 "강감찬":17,
                 "을지문덕":89}
print(member_states)

{'홍길동': 23, '강감찬': 17, '을지문덕': 89}

In [ ]:
print(member_states["홍길동"])

23

In [ ]:
subjects = ("국어","영어","수학")
scores_dic = {}
for i in range(3):
  name = input(f"{i+1}번째 학생 이름 :") #같은 키 값은 사용할 수 없다
  scores=[]
  for s in subjects:
    socre = int(input(f"{s}:"))
    scores.append(score)
  scores_dic[name] = scores #값 추가 or 변경
print(scores_dic)

1번째 학생 이름 :세링
국어:80
영어:90
수학:88
2번째 학생 이름 :세린
국어:98
영어:80
수학:94
3번째 학생 이름 :세릭
국어:97
영어:88
수학:75
{'세링': [95, 95, 95], '세린': [95, 95, 95], '세릭': [95, 95, 95]}

In [ ]:
name = input("삭제할 학생:")
del scores_dic[name]
print(scores_dic)

삭제할 학생:세릭
{'세링': [95, 95, 95], '세린': [95, 95, 95]}

In [65]:
eh_att_dic = {}
eh_att_dic["title"]="언제나휴일"
eh_att_dic["url"]="http://ehpub.co.kr"
eh_att_dic["desc"]="어자구저저구"
print(eh_att_dic) #목적에 따라 다양하게 사용할 수 있음

{'title': '언제나휴일', 'url': 'http://ehpub.co.kr', 'desc': '어자구저저구'}

In [66]:
if "url" in eh_att_dic:
  print(f'존재합니다. url: {eh_att_dic["url"]}')
else:
  print("url 정보가 없습니다")
  # --> 존재하지 않는 키를 인덱스 연산으로 사용하면 KeyError 발생
  # 사용하기 전에 미리 확인하자

존재합니다. url: http://ehpub.co.kr

In [68]:
value = eh_att_dic.get("url")
if value == None:
  print("url 정보가 없습니다")
else:
  print(f"url:{value}")

url:http://ehpub.co.kr

#while 반복문   
특정 조건이 참일 때 반복

In [69]:
#사용자로부터 정수를 입력 받아 합계를 계산하여 출력하시오.
#사용자가 음수를 입력하면더 이상 입력받지 않는다.

#방법1

sum = 0 #합계:=0
number = 0
while number >= 0: #반복 number:=사용자로부터 정수를 입력받은 number가 음수가 아니라면
  sum += number #합계:= 합계 + number
  number = int(input("정수 :"))
print(sum) #합계 출력

정수 :9
정수 :8
정수 :4
정수 :5
정수 :-1
26

In [70]:
#방법2

sum = 0 #합계:=0
while True: #무한 루프
  number = int(input("정수 :"))
  if number < 0:
    break #반복문(루프) 탈출
  sum += number #합계:= 합계 + number
print(sum) #합계 출력

정수 :95
정수 :774
정수 :15
정수 :-8
884

In [71]:
for i in range(10):
  print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [72]:
#위와 동일
i = 0
while i<10:
  print(i, end=' ')
  i+=1

0 1 2 3 4 5 6 7 8 9

In [77]:
i = 0
while i<100:
  i += 1
  if i % 2 == 0:
    print(i, end=' ') #3의 배수 이면서 2의 배수인 것들은 출력
  elif i % 3 == 0: #온전히 3의 배수인 것은 미출력
    continue
  else:
    print(f'/{i}/')

/1/
2 4 /5/
6 /7/
8 10 /11/
12 /13/
14 16 /17/
18 /19/
20 22 /23/
24 /25/
26 28 /29/
30 /31/
32 34 /35/
36 /37/
38 40 /41/
42 /43/
44 46 /47/
48 /49/
50 52 /53/
54 /55/
56 58 /59/
60 /61/
62 64 /65/
66 /67/
68 70 /71/
72 /73/
74 76 /77/
78 /79/
80 82 /83/
84 /85/
86 88 /89/
90 /91/
92 94 /95/
96 /97/
98 100

#리스트 관련 함수

In [1]:
ls = [10,98,11,23,45,77,8]
print("최솟값:", min(ls))
print("최댓값:", max(ls))
print("합계:", sum(ls))

최솟값: 8
최댓값: 98
합계: 272

In [83]:
ls.sort() #요소 정렬
print(ls)
ls.reverse()
print(ls) #요소 역순 정렬

[8, 10, 11, 23, 45, 77, 98]
[98, 77, 45, 23, 11, 10, 8]

In [5]:
rls = reversed(ls)
for elem in rls: #element
  print(elem, end=' ')
print()
print(ls) #리스트 자체가 변하진 않는다

8 77 45 23 11 98 10
[10, 98, 11, 23, 45, 77, 8]

In [7]:
ls = [3,4,5,10,23,45,9]
els = enumerate(ls) #열거하다
print(els)
print(list(els)) #(인덱스,값) 형태의 튜플로 출력된다

<enumerate object at 0x7faa06af9780>
[(0, 3), (1, 4), (2, 5), (3, 10), (4, 23), (5, 45), (6, 9)]

In [8]:
ls = [3,4,5,10,23,45,9] #위 코드형태는 사용하지 않고, 이 형태가 아주 많이(언제나..) 사용된다
for index, elem in enumerate(ls):
  print(f"{index}:{elem}")

0:3
1:4
2:5
3:10
4:23
5:45
6:9

#딕셔너리

In [9]:
ex_dict = {}
ex_dict["홍길동"]=78
ex_dict["김길동"]=88
ex_dict["강길동"]=98
ex_dict["고길동"]=77
print(ex_dict)

{'홍길동': 78, '김길동': 88, '강길동': 98, '고길동': 77}

In [10]:
print(ex_dict.items()) #items() 함수 접근가능

dict_items([('홍길동', 78), ('김길동', 88), ('강길동', 98), ('고길동', 77)])

In [11]:
for key, value in ex_dict.items():
  print(f"key:{key} value:{value}")

key:홍길동 value:78
key:김길동 value:88
key:강길동 value:98
key:고길동 value:77

In [12]:
sdict = sorted(ex_dict) #키 값만 정령할 수 있다
print(sdict)

['강길동', '고길동', '김길동', '홍길동']

#고급 리스트 컴프리핸션

1~100까지 정수로 구성한 리스트 만들기

In [18]:
#방법1
ls = []
for i in range(1,100):
  ls.append(i)
print(ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [17]:
#방법2
ls = [i for i in range(1,100)]
print(ls)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

1~100 사이의 정수로 3의 배수인 리스트 만들기

In [14]:
ls = [] #원초적인 방법
for i in range(1,100):
  if i % 3 == 0:
    ls.append(i)
print(ls)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [16]:
#list comprehension (리스트 내포)
#아주 많이 쓰는 표현이다
ls = [i for i in range(1,100) if i%3==0] #리스트 이름 = [표현식 for 반복자 in 반복할 수 있는 것 if 조건문]
print(ls)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

#과제
소개 ~ 반복문 실습

1. 사용자로부터 삼각형의 밑변과 높이를 입력받아 넓이를 출력하시오.  
   밑변과 높이는 실수를 입력할 수 있으며 넓이는 소수점 이하 2째 자리까지 출력하시오.

2. 두 개의 정수를 입력받아 작은 수가 큰 수의 약수인지 아닌지를 출력하시오.

3. 두 개의 정수를 입력받아 두 개의 정수 사이의 정수의 합계를 구하여 출력하시오.

4. n개의 정수를 입력받아 평균과 표준 편차를 구하시오.
  -> n개를 사용자가 지정한다.

5. n명의 국어, 영어, 수학 점수를 입력받아 출력하시오.

6. n명의 국어, 영어, 수학 점수를 입력받아 과목별 합계, 평균, 표준 편차를 출력하시오.

In [21]:
#1번. 사용자로부터 삼각형의 밑변과 높이를 입력받아 넓이를 출력하시오.  
#     밑변과 높이는 실수를 입력할 수 있으며 넓이는 소수점 이하 2째 자리까지 출력하시오.

width = float(input("밑변 :"))
height = float(input("높이 :"))
area = width*height/2
print("==> 넓이 = {:.2f}".format(area))

밑변 :12.2
높이 :15.38
==> 넓이 = 93.82

In [29]:
#2번. 두 개의 정수를 입력받아 작은 수가 큰 수의 약수인지 아닌지를 출력하시오.

num1 = int(input("숫자1 :"))
num2 = int(input("숫자2 :"))
if(num1 > num2):
  temp = num1
  num1=num2
  num2=temp # num1,num2 = num2,num1
if(num2 % num1 == 0):
  print(f"{num1}은(는) {num2}의 약수입니다.")
else:
  print(f"{num1}은 {num2}의 약수가 아닙니다.")

숫자1 :6
숫자2 :2
2은(는) 6의 약수입니다.

In [35]:
#3번. 두 개의 정수를 입력받아 두 개의 정수 사이의 정수의 합계를 구하여 출력하시오. (단, 범위 끝 수는 포함)

num1 = int(input("숫자1 :"))
num2 = int(input("숫자2 :"))
if(num1 > num2):
  temp = num1
  num1=num2
  num2=temp

sum = 0
for i in range(num1, num2+1):
  sum += i
print(f"{num1} 과 {num2}사이의 정수의 합은 {sum}입니다.")

숫자1 :2
숫자2 :10
2 과 10사이의 정수의 합은 54입니다.

In [3]:
#4번. n개의 정수를 입력받아 평균과 표준 편차를 구하시오. 단, n개를 사용자가 지정한다.

import math

num_list = []
nums = int(input("계산할 정수의 개수를 입력하세요 :"))
for i in range(nums):
  num = int(input(f"숫자{i+1} :"))
  num_list.append(num)

avg = sum(num_list)/num
print("==> 평균 :", avg)

var = 0
for i in range(nums):
  var += (num_list[i]-avg)**2

var = var/nums
stddev = math.sqrt(var)
print()
print("==> 분산 : ",format(var,".3f"))
print("==> 표준 편차 : ", format(stddev,".3f"))

계산할 정수의 개수를 입력하세요 :3
숫자1 :1
숫자2 :2
숫자3 :3
==> 평균 : 2.0
==> 분산 :  0.667
==> 표준 편차 :  0.816

In [5]:
#5번. n명의 국어, 영어, 수학 점수를 입력받아 출력하시오.

subjects = ("국어","영어","수학")
scores_dic = {}

nums = int(input("등록하실 학생의 수를 입력하세요 :"))
for i in range(nums):
  name = input(f"{i+1}번째 학생 이름 :")
  scores = []
  for s in subjects:
    score = int(input(f"{s} 점수 :"))
    scores.append(score)
  scores_dic[name] = scores
print(scores_dic)

등록하실 학생의 수를 입력하세요 :2
1번째 학생 이름 :세린
국어 점수 :20
영어 점수 :50
수학 점수 :40
2번째 학생 이름 :세링
국어 점수 :20
영어 점수 :80
수학 점수 :50
{'세린': [20, 50, 40], '세링': [20, 80, 50]}

In [3]:
#6번. n명의 국어, 영어, 수학 점수를 입력받아 과목별 합계, 평균, 표준 편차를 출력하시오.

import math
subjects = ("국어","영어","수학")
n = int(input("등록하실 학생의 수를 입력하세요 :"))

scores = []
scores.append([]) #국어
scores.append([]) #영어
scores.append([]) #수학

for i in range(n):
  for si, subject in enumerate(subjects): #국어 점수끼리, 영어 점수끼리, 수학 점수끼리 넣기
    score = int(input(f"{subject} 점수 :"))
    scores[si].append(score)
#print(scores_dic)

for si, subject in enumerate(subjects):
  avg = sum(scores[si])/len(scores[si])
  print(f"{subjects[si]} 평균: {avg:.2f}")
  ss=0
  for score in scores[si]:
    ss += (avg - score)**2
  var = ss/n #분산
  stddev = math.sqrt(var) #표준편차
  print(f"{subjects[si]} 표준편차: {stddev:.2f}")

등록하실 학생의 수를 입력하세요 :2
국어 점수 :50
영어 점수 :80
수학 점수 :60
국어 점수 :40
영어 점수 :80
수학 점수 :70
국어 평균: 45.00
국어 표준편차: 5.00
영어 평균: 80.00
영어 표준편차: 0.00
수학 평균: 65.00
수학 표준편차: 5.00

In [15]:
#6번. n명의 국어, 영어, 수학 점수를 입력받아 과목별 합계, 평균, 표준 편차를 출력하시오.(numpy mean,std 함수 사용)

import math
import numpy

kor = []
eng = []
math = []

nums = int(input("등록할 학생의 수를 입력하세요 :"))
for i in range(nums):
  kor.append(int(input("국어 점수 :")))
  eng.append(int(input("영어 점수 :")))
  math.append(int(input("수학 점수 :")))

print("국어별 평균 : {0:.2f}, 국어별 표준 편차 : {1:.2f} ".format(numpy.mean(kor), numpy.std(kor)))
print("영어 평균 : {0:.2f}, 영어 표준 편차 : {1:.2f} ".format(numpy.mean(eng), numpy.std(eng)))
print("수학 평균 : {0:.2f}, 수학 표준 편차 : {1:.2f} ".format(numpy.mean(math), numpy.std(math)))

등록할 학생의 수를 입력하세요 :2
국어 점수 :50
영어 점수 :80
수학 점수 :60
국어 점수 :40
영어 점수 :80
수학 점수 :0
국어별 평균 : 45.00, 국어별 표준 편차 : 5.00
영어 평균 : 80.00, 영어 표준 편차 : 0.00
수학 평균 : 30.00, 수학 표준 편차 : 30.00