<a href="https://colab.research.google.com/github/serinss/seSAC_Python_Class/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88(%ED%95%A8%EC%88%98).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#함수
자주 사용하는 알고리즘에 이름을 부여하여 만든 로직(코드 블럭)  
로직 이름, 입력 매개변수 목록, 수행할 코드, 반환 값으로 구성  
입력 매개변수 목록과 반환 값을 생략 가능  
   
함수를 만드는 것 : 함수 정의  
함수를 사용하는 것 : 함수 호출

In [ ]:
#함수명 : foo
#입력 매개변수 : a,b
def foo(a,b):
  print(f"a:{a} b:{b}") #수행코드 : 두 개의 인자를 출력한 후, 곱한 값을 반환
  return a*b #반환값 : a*b

In [ ]:
re = foo(2,3) #함수 호출(반환 값을 re에 대입)
print(f"결과:{re}")
foo(3,4) #함수 호출(반환 값을 무시)

a:2 b:3
결과:6
a:3 b:4

12

In [ ]:
def my_student_info(name, schoolID, phoneNumber):
  print("-----------------------------")
  print("- 학생 이름:", name)
  print("- 학급 번호:", schoolID)
  print("- 전화 번호:", phoneNumber)

In [ ]:
my_student_info("현아", "01", "010-1234-2345")
my_student_info("윤아", "02", "010-2356-1111")

-----------------------------
- 학생 이름: 현아
- 학급 번호: 01
- 전화 번호: 010-1234-2345
-----------------------------
- 학생 이름: 윤아
- 학급 번호: 02
- 전화 번호: 010-2356-1111

In [ ]:
def print_menu():
  print("1. 데이터 추가")
  print("2. 데이터 삭제")
  print("3. 데이터 검색")
  print("4. 전체 데이터 확인")
  print("0. 종료")

In [ ]:
def menu_select():
  print_menu()
  return int(input("=> 메뉴 선택 :"))

In [ ]:
while True:
  key = menu_select()
  if key == 0:
    break
  if key == 1:
    print("데이터 추가")
  elif key == 2:
    print("데이터 삭제")
  elif key == 3:
    print("데이터 검색")
  elif key == 4:
    print("전체 데이터 확인")
  else:
    print("잘못 선택하였습니다.")

1. 데이터 추가
2. 데이터 삭제
3. 데이터 검색
4. 전체 데이터 확인
0. 종료
=> 메뉴 선택 :1
데이터 추가
1. 데이터 추가
2. 데이터 삭제
3. 데이터 검색
4. 전체 데이터 확인
0. 종료
=> 메뉴 선택 :2
데이터 삭제
1. 데이터 추가
2. 데이터 삭제
3. 데이터 검색
4. 전체 데이터 확인
0. 종료
=> 메뉴 선택 :3
데이터 검색
1. 데이터 추가
2. 데이터 삭제
3. 데이터 검색
4. 전체 데이터 확인
0. 종료
=> 메뉴 선택 :0

특정 범위의 수의 합계를 구하는 함수 (이전 문제에 대한 코드를 구체화해놓을 수 있다)

In [ ]:
def getsum(start,end): #디미터의 법칙 = 객체 지향 프로그래밍
  s=0
  for i in range(start,end+1):
    s += i
  return s

In [ ]:
s = int(input("시작:"))
e = int(input("끝:"))
print(f"{s}~{e} 합계: {getsum(s,e)}")
print(f"1~100 합계: {getsum(1,100)}")

시작:50
끝:80
50~80 합계: 2015
1~100 합계: 5050

In [ ]:
re = getsum(1,2,3) #정의한 함수와 다르게 인자를 전달 - Type Error
print(re)

In [ ]:
def soo(a, temp=1, yahoo='a'): #temp는 인자를 전달하지 않을 때 1을 디폴트 값으로, yahoo는 'a'를 디폴트 값으로
  print(a,temp,yahoo)

In [ ]:
soo(1)
soo(2,temp=2)
soo(3,yahoo=2)
soo(3,3)
soo(3,4,5)

1 1 a
2 2 a
3 1 2
3 3 a
3 4 5

In [ ]:
def zoo(n=2,*values): #가변 매개변수 : print()와 같이 매개변수를 원하는 만큼 받을 수 있는 함수
  print("===")
  print(n)
  for value in values:
    print(value,end=' ')
  print()

In [ ]:
zoo() #디폴트 매개변수만 출력
zoo(1) #값이 전달 되었으니 1은 values 
zoo(1,3) #3 values
zoo(1,3,4,5) #3,4,5 values

===
2

===
1

===
1
3
===
1
3 4 5

In [ ]:
name = input("이름:")
print(f"이름:{name}")

이름:세린
이름:세린

In [ ]:
def square(x):
  return x*x

In [ ]:
for i in range(1,5):
  re = square(i)
  print(f"{i}^2 = {re}")

1^2 = 1
2^2 = 4
3^2 = 9
4^2 = 16

In [ ]:
def find_nearest_sum(start,goal): #더하기로 근사치 구하기
  s = 0
  while s < goal:
    s += start
    start += 1
    if(start==100):
      return s
  print("find!")
  return s

In [ ]:
re = find_nearest_sum(1,2000)
print(re)
re = find_nearest_sum(1,20000)
print(re)

find!
2016
4950

#함수 활용 장점

n개의 정수를 입력받아 합계와 평균을 출력하자

In [ ]:
#함수 이용 X

n = int(input("입력 받을 정수 개수:"))

numbers=[]
for i in range(n):
  number = int(input(f"{i+1}번째: "))
  numbers.append(number)

s=0
for num in numbers:
  s += num

print(f"합계:{s} 평균:{s/len(numbers):.2f}")

입력 받을 정수 개수:5
1번째: 40
2번째: 23
3번째: 60
4번째: 80
5번째: 32
합계:235 평균:47.0

In [ ]:
#함수 이용 O
#입력 함수 정의
def input_numbers(n):
  numbers=[]
  for i in range(n):
    number = int(input(f"{i+1}번째: "))
    numbers.append(number)
  return numbers

In [ ]:
#합산 함수 정의
def get_sum(numbers):
  s=0
  for number in numbers:
    s+=number
  return s

In [ ]:
#코드 본문
n = int(input("입력 받을 정수 개수:"))
numbers = input_numbers(n)
s = get_sum(numbers)

print(f"합계:{s} 평균:{s/len(numbers):.2f}")

입력 받을 정수 개수:5
1번째: 20
2번째: 60
3번째: 48
4번째: 32
5번째: 15
합계:175 평균:35.00

#팁

##하드코딩과 소프트코딩

In [ ]:
#원의 면적 구하기
#파이를 3.14로 하드코딩

def get_circle_area(radius):
  return 3.14*radius**2

In [ ]:
print(get_circle_area(1))

3.14

In [ ]:
#상수를 이용한 소프트 코딩 -> 유지보수에 매우 적합하다

PI = 3.141592
def get_circle_area2(radius):
  return PI*radius**2

In [ ]:
print(get_circle_area2(1))

3.141592

In [ ]:
#하드 코딩(함수 사용X)
s1 = "hello"
s2 = "yahoo"
print("<p>",s1,"</p>")
print("<p>",s2,"</p>")

<p> hello </p>
<p> yahoo </p>

In [ ]:
#소프트 코딩(함수 사용O)
def make_ptag(s):
  return str.format("<p>{0}</p>",s)
print(make_ptag(s1))
print(make_ptag(s2))

<p>hello</p>
<p>yahoo</p>

#람다함수

In [1]:
(lambda x : x**2) (3)

9

In [2]:
my_square = lambda x:x**2
my_square(2)

4

In [3]:
my_simple_func = lambda x,y,z: 2*x + 3*y + z
my_simple_func(1,2,3)

11

#내장함수

In [4]:
myFriends = []
bool(myFriends)

False

In [5]:
myFriends = ['James','Lisa']
bool(myFriends)

True

In [6]:
def print_name(name):
  if bool(name):
    print("입력된 이름:",name)
  else:
    print("입력된 이름이 없습니다.")

In [7]:
print_name("Alice")

입력된 이름: Alice

In [8]:
print_name("")

입력된 이름이 없습니다.

In [9]:
myNum = [19,5,23,2,7,4,2,8]
[min(myNum),max(myNum)]

[2, 23]

In [10]:
myStr = 'babczxx'
[min(myStr),max(myStr)]

['a', 'z']

In [11]:
[abs(10),abs(-10)]

[10, 10]

In [12]:
sumList = [1,2,3,4,5,6,7,8,9,10]
sum(sumList)

55

#재귀함수  
자기 자신을 호출하여 문제를 해결하려는 함수  

##피보나치 함수  
1 1 2 3 5 8 13 ...  
F(1) = F(2) = 1  
F(n) = F(n-1) + F(n-2) 단, n은 자연수

In [ ]:
#단순 재귀 구현

cnt=0
def fibonacci(n):
  global cnt #정의된 해당 함수에서 cnt는 전역변수인 cnt임을 의미
  cnt += 1 #이 함수가 몇 번 호출되는지 카운팅
  if(n<0):
    return 0
  if(n==1) or (n==2):
    return 1
  return fibonacci(n-1)+fibonacci(n-2)

In [ ]:
fibonacci(40)
print(cnt)

204668309

In [ ]:
re = fibonacci(3)
print(f"fibonacci({3}):{re}")
re = fibonacci(0)
print(f"fibonacci({0}):{re}")

for i in range(1,20):
  re = fibonacci(i)
  print(re,end=' ')

fibonacci(3):2
fibonacci(0):0
1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

##하노이의 탑  
(A탑)  (B탑)  (C탑)  
규칙 1. 한 번에 하나씩  
규칙 2. 큰 돌 위에 작은 돌  
-> n개의 돌을 옮길 수 있는가?  
###가정  
n-1개를 A에서 C로 옮길 수 있다.  
1) n-1개 A->B  
2) 1개 A->C
3) n-1개 B->C  
위의 과정에 의해 n개를 옮길 수 있다.

In [ ]:
#하노이 타워
#n개의 돌을 A에서 C로 옮기시오(B 이용)
#한번에 한개씩
#큰 돌 위에 작은 돌

def hanoi(a,b,c,n):
  if n==0:
    return
  hanoi(a,c,b,n-1) # A(n-1)->B (C이용)
  print(f'{a}->{c}') # A(1)-> C
  print("===")
  hanoi(b,a,c,n-1) # B(n-1) -> C (A이용)

In [ ]:
hanoi('a','b','c',4)

a->b
===
a->c
===
b->c
===
a->b
===
c->a
===
c->b
===
a->b
===
a->c
===
b->c
===
b->a
===
c->a
===
b->c
===
a->b
===
a->c
===
b->c
===

#동적 프로그래밍(Dynamic Programming)

경험한 정보를 이용하여 문제를 해결하는 최적화 기법

In [ ]:
#동적 프로그래밍으로 피보나치 수열 진행

cnt2 = 0
answer = [0,1,1] #리스트 사용
def fibonacci2(n):
  global cnt2
  cnt2 += 1
  if len(answer) > n:
    return answer[n]
  re = fibonacci2(n-1)+fibonacci2(n-2)
  answer.append(re)
  return re

In [ ]:
for i in range(1,20):
  re = fibonacci2(i)
  print(re,end=' ')

1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181

In [ ]:
fibonacci2(40)
print(cnt2)
#기존의 방식은 2억번 이상 수행
#매우 차이가 크다

78

In [ ]:
def fibonacci(n):
  if(n<0):
    return 0
  if(n==1) or (n==2):
    return 1
  return fibonacci(n-1)+fibonacci(n-2)

In [ ]:
answer = [0,1,1]
def fibonacci2(n):
  if len(answer) > n:
    return answer[n]
  re = fibonacci2(n-1)+fibonacci2(n-2)
  answer.append(re)
  return re

In [ ]:
import time
def test_case(n): #두개의 코드의 성능을 직관적으로 비교
  print("test case: ",n)
  start = time.time()
  fibonacci(n)
  end = time.time()
  print("fibonacci: ",end-start)
  start2 = time.time()
  fibonacci2(n)
  end2 = time.time()
  print("fibonacci2: ",end2-start2)
  print()

In [ ]:
for i in range(1,40):
  test_case(i)

test case:  1
fibonacci:  2.384185791015625e-06
fibonacci2:  4.291534423828125e-06

test case:  2
fibonacci:  1.9073486328125e-06
fibonacci2:  3.5762786865234375e-06

test case:  3
fibonacci:  2.384185791015625e-06
fibonacci2:  9.5367431640625e-07

test case:  4
fibonacci:  2.384185791015625e-06
fibonacci2:  7.152557373046875e-07

test case:  5
fibonacci:  3.5762786865234375e-06
fibonacci2:  1.430511474609375e-06

test case:  6
fibonacci:  5.7220458984375e-06
fibonacci2:  1.6689300537109375e-06

test case:  7
fibonacci:  1.0013580322265625e-05
fibonacci2:  9.5367431640625e-07

test case:  8
fibonacci:  1.33514404296875e-05
fibonacci2:  9.5367431640625e-07

test case:  9
fibonacci:  2.002716064453125e-05
fibonacci2:  7.152557373046875e-07

test case:  10
fibonacci:  4.267692565917969e-05
fibonacci2:  1.430511474609375e-06

test case:  11
fibonacci:  5.4836273193359375e-05
fibonacci2:  9.5367431640625e-07

test case:  12
fibonacci:  7.82012939453125e-05
fibonacci2:  4.0531158447265625e-06

test case:  13
fibonacci:  0.00012493133544921875
fibonacci2:  2.1457672119140625e-06

test case:  14
fibonacci:  0.00019431114196777344
fibonacci2:  3.814697265625e-06

test case:  15
fibonacci:  0.00043511390686035156
fibonacci2:  2.86102294921875e-06

test case:  16
fibonacci:  0.0005471706390380859
fibonacci2:  3.337860107421875e-06

test case:  17
fibonacci:  0.0012617111206054688
fibonacci2:  3.0994415283203125e-06

test case:  18
fibonacci:  0.002146005630493164
fibonacci2:  3.5762786865234375e-06

test case:  19
fibonacci:  0.001608133316040039
fibonacci2:  3.0994415283203125e-06

test case:  20
fibonacci:  0.0025696754455566406
fibonacci2:  3.814697265625e-06

test case:  21
fibonacci:  0.0040798187255859375
fibonacci2:  3.814697265625e-06

test case:  22
fibonacci:  0.00714111328125
fibonacci2:  3.814697265625e-06

test case:  23
fibonacci:  0.013076543807983398
fibonacci2:  4.291534423828125e-06

test case:  24
fibonacci:  0.02042675018310547
fibonacci2:  5.245208740234375e-06

test case:  25
fibonacci:  0.049909114837646484
fibonacci2:  5.245208740234375e-06

test case:  26
fibonacci:  0.05846095085144043
fibonacci2:  5.245208740234375e-06

test case:  27
fibonacci:  0.09200191497802734
fibonacci2:  4.5299530029296875e-06

test case:  28
fibonacci:  0.14836478233337402
fibonacci2:  5.0067901611328125e-06

test case:  29
fibonacci:  0.20907998085021973
fibonacci2:  7.867813110351562e-06

test case:  30
fibonacci:  0.33772730827331543
fibonacci2:  4.5299530029296875e-06

test case:  31
fibonacci:  0.5282952785491943
fibonacci2:  5.4836273193359375e-06

test case:  32
fibonacci:  0.8466081619262695
fibonacci2:  4.291534423828125e-06

test case:  33
fibonacci:  1.3483548164367676
fibonacci2:  4.76837158203125e-06

test case:  34
fibonacci:  2.1873037815093994
fibonacci2:  4.76837158203125e-06

test case:  35
fibonacci:  3.5314393043518066
fibonacci2:  3.0994415283203125e-06

test case:  36
fibonacci:  5.704486846923828
fibonacci2:  5.9604644775390625e-06

test case:  37
fibonacci:  9.267618656158447
fibonacci2:  5.9604644775390625e-06

test case:  38
fibonacci:  14.966753959655762
fibonacci2:  5.4836273193359375e-06

test case:  39
fibonacci:  24.13428568840027
fibonacci2:  5.245208740234375e-06