<a href="https://colab.research.google.com/github/serinss/seSAC_Python_Class/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88(%ED%95%A8%EC%88%98_%EA%B3%A0%EA%B8%89).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#튜플

여러 개의 요소로 구성한 컬렉션  
요소의 값을 변경할 수 없다.

In [1]:
t1 = (1,2,3)
print(type(t1))

<class 'tuple'>

In [2]:
print(t1[0]) #인덱스 접근 가능

1

In [10]:
a,b = (2,3)
print(a,b)

2 3

In [11]:
t = 1,2,3,4 #굳이 소괄호를 추가하지 않아도 튜플로 인식한다
print(type(t))

<class 'tuple'>

In [14]:
a,b,c = 1,2,3 #1,2,3은 튜플이 맞지만 원소 하나를 출력하면 int값
print(type(a))

<class 'int'>

In [4]:
#t1[0] = 7
#'tuple' object does not support item assignment

In [5]:
def get_sum_average(numbers):
  s=0
  for number in numbers:
    s += number
  return s, s/len(numbers)

In [7]:
s,aver = get_sum_average([1,2,3,54,5,6])
print(f"합계:{s} 평균:{aver:.2f}") #여러개 값을 반환하여 출력할 수 있다

합계:71 평균:11.83

In [9]:
re = get_sum_average([1,2,3,54,5,6])
print(re)

(71, 11.833333333333334)

#람다

In [16]:
def square(x):
  return x*x

In [15]:
sq = lambda x:x*x #람다식을 변수에 전달 가능

In [17]:
def foo(x):
  print(f"foo({x})")
  return 2*x

In [20]:
#map(함수, 리스트)
#: 리스트의 요소를 함수에 넣고 리턴된 값으로 새로운 리스트를 구성해주는 함수

re = map(foo,[1,2,3,4]) #각 원소 순서대로 -> 함수 실행 -> 리턴한 값이 반환된다
for e in re:
  print(e)

foo(1)
2
foo(2)
4
foo(3)
6
foo(4)
8

In [21]:
re = map(sq,[1,2,3,4]) #함수명, 호출 가능한 코드면 모두 가능 -> 람다식도 가능
for e in re:
  print(e)

1
4
9
16

In [22]:
re = map(lambda x:x+2,[1,2,3,4])
for e in re:
  print(e)

3
4
5
6

In [23]:
#filter(함수, 리스트)
#: 리스트의 요소를 함수에 넣고 리턴된 값이 True인 것으로 새로운 리스트를 구성해주는 함수

def is_odd(x):
  return x%2==1

In [27]:
re = filter(is_odd,[1,2,3,4,5,6,7,8,10,23,4,23,11])
for e in re:
  print(e) #참인 값=홀수 만 리스트에 남는다

1
3
5
7
23
23
11

In [28]:
re = filter(lambda x:x%2==1,[1,2,3,4,5,6,7,8,10,23,4,23,11]) #람다식도 가능
for e in re:
  print(e)

1
3
5
7
23
23
11