<a href="https://colab.research.google.com/github/serinss/seSAC_Python_Class/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88(%EB%B0%98%EB%B3%B5%EB%AC%B8~.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#튜플

여러 개의 원소로 구성한 자료 구조(컬렉션) -> 서로 다른 타입들 모일 수 있음  
원소의 값을 변경할 수 없다.

In [1]:
tup1 = (1,)
tup2 = (1, 'a')
tup3 = (1, 'abc', (2,3,'ab'))
print(tup1)
print(tup2)
print(tup3)

(1,)
(1, 'a')
(1, 'abc', (2, 3, 'ab'))

In [2]:
tup1 = (1,2,3)
print(tup1[0]) #인덱스 접근 가능
print(tup1[1])
print(tup1[2])

1
2
3

In [ ]:
#tup1[0] = 7 튜플은 원소의 값을 변경할 수 없다.
#나머지 부분은 리스트와 사용법 동일

#리스트

여러 개의 원소,요소(element)로 구성한 자료 구조(컬렉션) -> 변수의 타입이 통일되지 않아도 된다  
튜플과 다르게 원소의 값을 변경할 수 있다.

In [3]:
ls1 = [1,2,3,4]
print(ls1)

[1, 2, 3, 4]

In [4]:
ls2 = [1,2,3,'a',[1,2,3],(1,2,'a')]
print(ls2)

[1, 2, 3, 'a', [1, 2, 3], (1, 2, 'a')]

In [6]:
ls1 = [1,2,3,4,5,'a','b']
print(ls1[0])
print(ls1[1])
print(ls1[2])
print(ls1[3])
print(ls1[4])
print(ls1[5])
print(ls1[6])
# print(ls1[7]) list index out of range 경계의 오류

1
2
3
4
5
a
b

In [7]:
s = "abcdefg"
print(s[1:3])

bc

In [9]:
s1 = [1,2,3,'a','b']
print(ls1[1:3]) #list도 slice 가능
print(ls1[:3]) #처음부터 3번째 원소까지
print(ls1[1:]) #1번째 원소부터 마지막까지

[2, 3]
[1, 2, 3]
[2, 3, 4, 5, 'a', 'b']

In [13]:
tup1 = (1,2,3)
ls1 = [1,2,3]

#tup1[0]=3 #'tuple' object does not support item assignment
ls1[0]=3 # list는 원소의 값을 변경할 수 있음 -> 튜플은 잘 사용되지 않음
print(ls1)

[3, 2, 3]

In [14]:
ls1 = [1,2,3,4,5,6]
print(ls1[-1]) #마지막 원소
print(ls1[-2])
print(ls1[-3])
print(ls1[-4])
print(ls1[-5])
print(ls1[-6])

6
5
4
3
2
1

In [15]:
ls1 = [[90,80,45],[88,95,64],[99,64,89]] #텐서? 머신러닝, 딥러닝에서는 텐서를 가장 많이 사용한다
#TensorFlow, n차원 배열로 이해할 수 있다.
print(ls1[0])
print(ls1[0][2])

[90, 80, 45]
45

In [18]:
ls1 = [1,2,3]
ls2 = ['a','b','c']
print(ls1+ls2) #다른 타입이어도 리스트 더하기 연산 가능
print(ls1) #원본 리스트는 변경되지 않는다.
print(ls2)
ls3 = ls1 + ls2 #별도의 변수를 선언하여 사용
print(ls3)

[1, 2, 3, 'a', 'b', 'c']
[1, 2, 3]
['a', 'b', 'c']
[1, 2, 3, 'a', 'b', 'c']

In [19]:
ls1 = [1,2,3]
ls2 = ['a','b','c']
print(ls1*3) #곱하기 연산
s1 = "홍길동"
print(s1*3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
홍길동홍길동홍길동

In [21]:
print(len('abcdefghijklmnopqrstuvwxyz'))
print(len([1,2,3,4,5,6,7,8,9,10,'a','b']))

26
12

In [22]:
ls1 = list() #빈 리스트 생성
print(ls1)
print(type(ls1))

[]
<class 'list'>

In [24]:
ls1.append(3) #순차 보관(위치, 인덱스 지정 불가)
ls1.append(7)
ls1.append(2)
ls1.append(8)
ls1.append(9)
ls1.append(10)
print(ls1)

[3, 7, 2, 8, 9, 310, 3, 7, 2, 8, 9, 10]

In [25]:
ls = [1,2,3,4,5,6,7]
num = 3
ls.insert(2,num) #index(2) 위치에 삽입
print(ls)

[1, 2, 3, 3, 4, 5, 6, 7]

리스트 병합

In [27]:
ls1 = [1,2,3]
ls2 = ['a','b','c']
ls1.extend(ls2) #ls1을 ls2만큼 확장
print(ls1) #변경됨
print(ls2) #그대로

[1, 2, 3, 'a', 'b', 'c']
['a', 'b', 'c']

리스트 요소 제거하기  
append로 추가하고 pop으로 꺼내면 stack처럼 동작한다.  
LIFO(Last In First Out)

In [30]:
ls1 = [1,2,3,4,5,6,7,8]
print(ls1)
re = ls1.pop() #'지워진다' 보다는 '꺼낸다'는 표현 많이 사용
print(re)
print(ls1)
re = ls1.pop(3) #인덱스 지정 가능
print(re)
print(ls1)

[1, 2, 3, 4, 5, 6, 7, 8]
8
[1, 2, 3, 4, 5, 6, 7]
4
[1, 2, 3, 5, 6, 7]

In [33]:
ls1 = [1,2,3,4,5,6,7,8]
print(ls1)
del ls1[2] #'지운다'는 개념
print(ls1)
del ls1[2]
print(ls1)
del ls1[2:]
print(ls1) #대괄호를 사용하므로 범위 지정 가능

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 4, 5, 6, 7, 8]
[1, 2, 5, 6, 7, 8]
[1, 2]

In [35]:
member_list = ['홍길동','강감찬','을지문덕','고길동','김구']

print(member_list)
name = input("지울 회원 : ")
member_list.remove(name) #인덱스가 아닌 값으로 지우기
print(member_list)

['홍길동', '강감찬', '을지문덕', '고길동', '김구']
지울 회원 : 고길동
['홍길동', '강감찬', '을지문덕', '김구']

In [36]:
member_list = ['홍길동','강감찬','을지문덕','고길동','김구']

print(member_list)
member_list.clear() #완전 삭제
print(member_list)

['홍길동', '강감찬', '을지문덕', '고길동', '김구']
[]