<a href="https://colab.research.google.com/github/serinss/seSAC_Python_Class/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#계산식

In [ ]:
10+23

33

In [ ]:
korea= 90
math = 95
sum = korea+math
sum

185

####표기법 - 스네이크 케이스, 카멜 케이스
 : 보기 편하고 이해하기 쉽도록 규칙을 세운 것  
- 클래스명 - 카멜 케이스 이용  
- -> 외 대부분(변수명, 함수명) 스네이크 케이스 이용  
  
하지만, 언어마다 특징이 다름 & 이전의 시니어 개발자들은 C부터 시작했으므로 기존의 명령 규칙 습관을 버리기 힘듬

#주석

In [ ]:
#주석
a = 3 #변수 a에 3 대입

#출력문

In [ ]:
print(12)
print("흠냐")
print(12,3,"야호")

12
흠냐
12 3 야호

In [ ]:
print("진달래꽃")
print()
print("나 보기가 역겨워")

진달래꽃

#자료형-숫자

In [ ]:
print(12, 0o12, 0x12) #12:10진수, 0o:8진수, 0x:16진수

In [5]:
print(type(12), type(0o12), type(0x12)) #기본적으로 모두 int타입이다

<class 'int'> <class 'int'> <class 'int'>

#실수

In [ ]:
print(3.14, 1.234e6) #부동 소수점
#e6 : 10^6 지수표현

In [6]:
print(type(3.14), type(1.23e6)) #t실수는 근사치 (오차 범위 내에서 실행)

<class 'float'> <class 'float'>

#수와 관계있는 연산

In [ ]:
print("8+3 = ", 8+3)
print("8-3 = ", 8-3)
print("8*3 = ", 8*3)
print("8%3 = ", 8%3)

In [ ]:
print(8//5) #몫
print(8%%5) #나머지

In [7]:
i=0
i = (i+1) % 5
print(i)
i = (i+1) % 5
print(i)
i = (i+1) % 5
print(i)
i = (i+1) % 5
print(i)
i = (i+1) % 5
print(i)
i = (i+1) % 5
print(i)
i = (i+1) % 5
print(i)
i = (i+1) % 5
print(i)
i = (i+1) % 5
print(i)

1
2
3
4
0
1
2
3

#복소수(실수축, 허수축을 동시에 나타낸다)

In [9]:
print(2+3j) #허수를 i가 아닌, j로 표기

(2+3j)

In [12]:
cv = 2+3j
print("실수부:",cv.real, "허수부:", cv.imag)

실수부: 2.0 허수부: 3.0

#문자열-기본 표현

In [13]:
print('abc')
print("ABC")
print("""안녕하세요""") #모두 동일한 방법

abc
ABC
안녕하세요

# 이스케이프 문자

In [15]:
print('\t안녕') #들여쓰기
print('흠\t하하\n야호') #줄바꿈(개행)

	안녕
흠	하하
야호

In [17]:
print('I\'m serin') #\'로 따옴표 나타낼 수 있음

I'm serin

In [ ]:
print("I'm serin") #이중따옴표 안에서 단일따폼요 사용 가능

In [20]:
print("세린이 \"안녕\"이라고 말했다")

세린이 "안녕"이라고 말했다

In [21]:
print('세린이 "안녕"이라고 말했다')

세린이 "안녕"이라고 말했다

#인용문

In [32]:
print("===")
azalea2="""\
나 보기가 역겨워
가실 때에는
말없이 고이 보내
드리오리다."""
print(azalea2)
print("===")

===
나 보기가 역겨워
가실 때에는
말없이 고이 보내
드리오리다.
===

#문자 코드

In [25]:
print("a:",ord('a'),"A:",ord('A'),"O:",ord('O')) #a:0110 0001 16진수로 메모리에 기록되는 방식
#'A':0101 0001 'O':0011 0001
#데이터 분석을 할 때에, 문자로 표현되길 원한다면 ASCII값으로 확인이 가능하도록 사용 가능

a: 97 A: 65 O: 79

In [27]:
print(chr(97),chr(65),chr(48)) #oord의 역함수

a A 0

#변수

In [29]:
korea=90
math=95
sum = korea + math
print("총계:",sum)

총계: 185

#기본 입력 input

In [34]:
korea = input("국어 점수:")
math = input("수학 점수:")
print("국어:",korea,"수학:",math,"합계:",korea+math) #input 데이터 형식은 문자열 str 이다

국어 점수:90
수학 점수:95
국어: 90 수학: 95 합계: 9095

In [35]:
print(type(korea), type(math)) #더하려면 형식 변환 casting 필요

<class 'str'> <class 'str'>

In [36]:
korea = int(input("국어 점수:"))
math = int(input("수학 점수:"))
print("국어:",korea,"수학:",math,"합계:",korea+math)

국어 점수:90
수학 점수:95
국어: 90 수학: 95 합계: 185

In [37]:
fstr1 = "12.34"
fstr2 = "3.14"
f1 = float(fstr1)
f2 = float(fstr2)
print(f1,f2,"f1*f2:",f1*f2)

12.34 3.14 38.7476

In [38]:
k_str = str(korea)
print("k_str:",k_str,"type:",type(k_str))

k_str: 90 type: <class 'str'>

#자료형-기타

In [42]:
korea = int(input("국어 점수:"))
print(korea)

국어 점수:90
90